::selection {
	background-color: #00b809;
}

body {
	background-color: rgb(25, 25, 25);
}

* {
	font-family: 'Kanit', sans-serif;
}

.home{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.items{
	border: none;
	border-radius: 12px;
	overflow: hidden;
	margin: 5px;
}
.img-item{
	height: 350px;
	width: auto;
	border-radius: 12px;
	margin: 0;
	transition: transform 0.3s ease;
}
.img-item:hover {
	transform: scale(1.2);
}
h1{
	color: #ffffff;
	text-align: center;
	font-size: 45px;
}

#top {
	text-align: left;
}

.container {
	display: flex;
}

@media screen and (max-width: 800px) {
	.img-item{
		height: auto;
		width: 100%;
		border-radius: 12px;
		margin: 0;
		transition: transform 0.3s ease;
	}
}
